*{
	margin: 0px;
	padding: 0px;
}
body{
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	line-height: 24px; 
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Poppins', sans-serif;
}
a,a:hover{
	text-decoration: none;
}
/*Golobal Css start*/
.container{
	max-width: 1140px;
	margin: 0 auto;
}
.row{
	width: 100%;
	float: left;
}

.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  GROUPING  ============================================================================= */


.row:before,
.row:after {
    content:"";
    display:table;
}
.row:after {
    clear:both;
}
.row {
    zoom:1; /* For IE 6/7 (trigger hasLayout) */
}

/*  GRID COLUMN SETUP   ==================================================================== */

.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col-3{
	width: 25%;
	float: left;
}
.col-4{
	width: 33.33%;
	float: left;
}
.col-6{
	width: 50%;
	float: left;
}
.col-12{
	width: 100%;
	float: left;
}
/*Golobal Css end*/
.header{
	width: 100%;
	float: left;
	border-bottom: 1px solid #eee;
	padding: 15px 0px;
}
.logo{
	width: auto;
}
.header .nav{
	width: 100%;
	text-align: right;
	float: left;

}
.header .nav li{
	display: inline-block;
	list-style: none;
	margin: 10px 0px 0px 0px;
}
.header .nav li a{
	font-size: 14px;
	font-weight: 400;
	color: #0F2656;
	margin: 0px 0px 0px 20px;
}
.header .nav li a:hover{
	color: #008AFF;
}
.banner{
	width: 100%;
	float: left;
	text-align: center;
	padding: 40px 0px;
}
.banner h1{
	font-size: 54px;
	line-height: 64px;
	color: #0F2656;
	margin: 0px 0px 15px;
}
.banner h1 span{
	color: #008AFF;
}
.banner p{
	font-size: 14px;
	line-height: 24px;
	color: #0F2656;
	font-weight: 400;
	margin: 0px 0px 15px;
}
.banner .banner-img{
	width: 60%;
}
.success{
	width: 100%;
	float: left;
	padding: 40px 0px;
	background-color: #ddd;
}
.success .success-left{
	width: 100%;
	float: left;
	text-align: right;
}
.success .success-left h1{
	color: #F15767;
	font-size: 54px;
	line-height: 64px;
	margin: 0px 25px 0px 0px;
}
.success .success-left p{
	color: #0F2656;
	font-size: 14px;
	line-height: 24px;
	margin: 20px 25px 0px 0px;
}
.success .success-right {
	width: 100%;
	float: left;
}
.success .success-right h1{
	color: #0F2656;
	font-size: 54px;
	line-height: 64px;
	margin: 0px 0px 0px 25px;
}
.feature{
	width: 100%;
	float: left;
	padding: 80px 0px;
}
.inner-feture{
	width: 80%;
	float: left;
	margin: 0px 15px;
	padding: 40px 25px;

}
.feature .img-fluid{
	width: 100%;
	height: 200px;
}
.inner-feture h4{
	font-size: 22px;
	font-weight: 600;
	color: #0F2656;
	line-height: 32px;
	margin: 10px 0px 10px 0px;
}
.inner-feture p{
	font-size: 14px;
	line-height: 24px;
	color: #0F2656;
}
.c1{
	background: #FDEBED;
}
.c2{
	background: #EBF9F4;
}
.c3{
	background: #FFF7E8;
}
.footer{
	width: 100%;
	float: left;
	padding: 15px 0px;
	background-color: #008AFF;
	text-align: center;

}
.footer p{
	color: #88C1FF;
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}
.footer p span{
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 600;
}
.count-area{
	width: 100%;
	float: left;
	text-align: center;
	background-color: #8EC5FC;
	background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
	padding: 92px 0px;
	margin: 40px 0px;
}
.count{
	
}
.count-area i{
	font-size: 20px;
	color: #0F2656;
}
.count-area h1{
	color: #0F2656;
	font-size: 45px;
	line-height: 54px;
}
.count-area p{
	font-size: 18px;
	color: #0F2656;
	line-height: 28px;
	text-transform: uppercase;
}
/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
      .container{
	max-width: 80%;
	margin: 0 auto;
}
.header .nav li a{
	font-size: 14px;
	font-weight: 400;
	color: #0F2656;
	margin: 0px 0px 0px 10px;
}
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
    .container{
	max-width: 100%;
	margin: 0 auto;
}
.row{
	width: 100%;
	float: left;
}

  .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col-3{
	width: 100%;
	float: left;
}
.col-4{
	width: 100%;
	float: left;
}
.col-6{
	width: 100%;
	float: left;
}
.col-12{
	width: 100%;
	float: left;
}
.header .nav {
    width: 100%;
    text-align: center;
    float: left;
}
.header .nav li a{
	font-size: 14px;
	font-weight: 400;
	color: #0F2656;
	margin: 0px 0px 0px 10px;
}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  .container{
	max-width: 100%;
	margin: 0 auto;
}
.row{
	width: 100%;
	float: left;
}

  .col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col-3{
	width: 100%;
	float: left;
}
.col-4{
	width: 100%;
	float: left;
}
.col-6{
	width: 100%;
	float: left;
}
.col-12{
	width: 100%;
	float: left;
}
.header .nav {
    width: 100%;
    text-align: center;
    float: left;
}
.header .nav li a{
	font-size: 14px;
	font-weight: 400;
	color: #0F2656;
	margin: 0px 0px 0px 10px;
}
.banner h1{
	font-size: 35px;
	line-height: 45px;
	color: #0F2656;
	margin: 0px 0px 15px;
}

  .success .success-right h1{
	color: #0F2656;
	font-size: 40px;
	line-height: 50px;
	margin: 10px 0px 0px 25px;
}
.footer p{
	color: #88C1FF;
	font-size: 13px;
	line-height: 23px;
	font-weight: 400;
}
}